@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Mvc.Models.ConfigurationModel

@{
    ViewBag.Title = "Variables";
    Layout = "_Layout";
}

<h2>Configuration</h2>

<dl>
    @foreach (var entry in Configuration.AsEnumerable())
    {
        <dt>@entry.Key</dt>
        <dd>@entry.Value</dd>
    }
</dl>
